@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Ubuntu:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Ubuntu', sans-serif;
    line-height: 25px;
}

body {
    width: 100%;
    background-image: url(/assets/fabric-scaled-1.webp);

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 60px;
    border-bottom: solid 1px black;
    position: fixed;
    z-index: 1;
    background-color: rgb(247, 247, 233);
    width: 100%
}

header .logo {
    display: flex;
    flex-direction: row;
    content: icon;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 3em;
}

header .logo img {
    width: 40px;
}

header .logo p {
    font-size: 25px;
    font-weight: 700;
    align-self: self-end;
}

header .nav-bar {
    display: flex;
    font-size: 15px;
    padding-right: 4em;
}

header .nav-bar ul{
    display: flex;
    list-style: none;
    gap: 3em;
    font-weight: 800;
}


/* main section */

/* home section */
main #home {
    align-items: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding-top: 60px;
}

main #home img {
    height: auto;
    width: 100vw;
    overflow: clip;
    overflow-clip-margin: conten-box;
    display: block;
    object-fit: cover;
    height: 300px

}

main .border {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    max-width: 90vw;
    border-style: double;
    border-top: none;
    border-bottom: none;
    background-color: rgba(232, 232, 235, 0.76);
}

main .border h1 {
    padding: 40px 5px
}

main .border hr {
    width: 40vw;
    margin: auto;
}

main .border p {
    padding: 20px 5px;
    font-weight: 550;
}

main .border figure {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

main .border figure img {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

main .border figure figcaption {
    padding: 10px 0;
    text-decoration: underline;
}

/* product section */

